body, p, ul, ol, dl, dd, h1, h2, h3, h4, h5, h6, hr, td, input, textarea {
  margin: 0;
  padding: 0; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

.headerbox {
  width: 100%;
  height: 140px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background: white; }

/* header */
header {
  width: 100%;
  height: 80px;
  /* background:red; */
  border-bottom: 1px solid #e2e2e2; }

.hleft {
  position: relative;
  width: 230px;
  height: 80px;
  float: left; }

.hleft img {
  margin-top: 20px; }

.wx {
  float: right; }

.wb {
  float: right; }

a:hover .wximg {
  display: block; }

.wximg {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 60px;
  left: 60px;
  z-index: 1;
  display: none; }

.hmiddle {
  width: 800px;
  height: 80px;
  float: left;
  margin-top: 20px; }

.hmiddle img {
  padding-left: 320px; }

.hright {
  float: left; }

.hright a {
  height: 20px;
  font-size: 16px;
  color: #111111;
  line-height: 60px; }

.hright a:nth-child(1) {
  padding-right: 5px;
  border-right: 1px dashed #7f7f7f; }

/* nav */
nav {
  width: 100%;
  height: 60px;
  background: white; }

.navbox {
  float: left;
  margin-left: 320px;
  width: 576px;
  padding-bottom: 30px;
  font-size: 16px; }

.navbox a {
  float: left;
  margin: 0 20px;
  text-decoration: none; }

.navbox a:hover {
  color: #85b24b;
  display: block; }

.navbox img {
  float: left;
  margin-top: 10px; }

.navbar-form {
  margin-top: -2px; }

.pinbox {
  float: left;
  width: 100%;
  height: 100px;
  background: #3b013b;
  opacity: 0.7;
  text-align: center;
  line-height: 100px;
  display: none; }

.dianbox {
  float: left;
  width: 100%;
  height: 100px;
  background: #3b013b;
  opacity: 0.7;
  text-align: center;
  line-height: 100px;
  display: none; }

#C a {
  /* letter-spacing: 4px; */
  font-size: 18px;
  color: white;
  padding-right: 25px;
  text-decoration: none; }

#E a {
  /* letter-spacing: 4px; */
  font-size: 18px;
  color: white;
  padding-right: 25px;
  text-decoration: none; }

.fixed {
  display: block;
  position: fixed;
  top: 300px;
  left: 10px;
  width: 162px;
  height: 300px;
  border: 1px solid #85b24b; }

.fixedb {
  margin-top: 30px;
  margin-left: 10px;
  width: 150px;
  height: 260px;
  overflow-y: scroll; }

.fixed a {
  display: block;
  height: 40px;
  border-top: 1px dashed grey;
  padding-top: 10px;
  text-decoration: none; }

.fixed a:hover {
  color: #85b24b; }

.fleaf {
  position: absolute;
  top: -10px;
  left: -2px; }

.image {
  margin-top: 140px; }

.content {
  width: 1000px;
  height: 4800px;
  margin: 0 auto; }

.top {
  width: 1000px; }

.nimo1 {
  float: left;
  width: 400px;
  height: 20px;
  background: #98ba3b;
  margin-top: 20px; }

.nimo2 {
  float: right;
  width: 400px;
  height: 20px;
  background: #98ba3b;
  margin-top: -20px; }

span {
  display: block;
  width: 200px;
  height: 20px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0; }

.box {
  width: 1000px;
  height: 400px; }

.nimo {
  float: left;
  width: 250px; }

.nimo img {
  width: 220px;
  height: 250px;
  margin-left: 15px; }

.nimo p {
  text-align: center;
  margin-bottom: 10px; }

.nimo .yi {
  margin-left: 10px; }

.nimo .ni {
  margin-left: 10px; }

.product {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto; }

.product, .nimo p:hover {
  cursor: pointer; }

/* footer */
.footer {
  width: 100%;
  height: 60px;
  background: white;
  text-align: center;
  line-height: 24px;
  padding: 10px 0;
  margin-top: 60px; }

.footer a:hover {
  color: #85b24b;
  text-decoration: none; }
