body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,hr,td,input,textarea{
	margin:0;
	padding:0;
}
ul,ol,li{
	list-style: none;
}
a{
    text-decoration:none;
    color: #000;
}
.headerbox{
    width: 100%;
    height:140px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    background:white;
}
/* header */
header{
    width: 100%;
    height: 80px;
    /* background:red; */
    border-bottom: 1px solid #e2e2e2;
}
.hleft{
    position: relative;
    width: 230px;
    height: 80px;
    float: left;
}
.hleft img{
    margin-top: 20px;
}
.wx{
    float: right;
}
.wb{
    float: right;
}
a:hover .wximg{
    display: block;
}
.wximg{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 60px;
    left: 60px;
    z-index: 1;
    display: none;
}
.hmiddle{
    width: 800px;
    height: 80px;
    float: left;
  
    margin-top: 20px;
}
.hmiddle img{
    padding-left: 320px;
}

.hright a{
    height: 20px;
    font-size: 16px;
    color: #111111;
    line-height: 60px; 
}
.hright a:nth-child(1){
    padding-right: 5px;
    border-right: 1px dashed #7f7f7f;
}
.hright a .cart{
    width: 16px;
    height: 16px;
    float: right;
    margin-top: 20px;
    margin-right: 140px;
}
.hright span{
    float: left;
    margin-left: 183px;
    margin-top: -40px;
}
/* nav */
nav{
    width: 100%;
    height: 60px;
    background: white;
    
}
.navbox{
    float: left;
    margin-left: 320px;
    width: 576px;
    padding-bottom: 30px;
    font-size: 16px;
}
 .navbox a{
    float: left;
    margin: 0 20px;
    text-decoration: none;
    color: black;
}
.navbox a:hover{
    color: #85b24b;
    display: block;
}
.navbox img {
    float: left;
    margin-top: 10px;
}

.navbar-form{
  margin-top:-2px;
}
.pinbox{
    float: left;
    width: 100%;
    height: 100px;
    background: rgb(59, 1, 59);
    opacity: 0.7;
    text-align: center;
    line-height: 100px; 
    display: none; 
    
}
.dianbox{
    float: left;
    width: 100%;
    height: 100px;
    background: rgb(59, 1, 59);
    opacity: 0.7;
    text-align: center;
    line-height: 100px; 
    display: none;  
}
#C a{
    /* letter-spacing: 4px; */
    font-size:18px;
    color:white; 
    padding-right: 25px;
    text-decoration: none;
}
#E a{
    /* letter-spacing: 4px; */
    font-size:18px;
    color:white; 
    padding-right: 25px;
    text-decoration: none;
}
// content
.content{
    width: 800px;
    height:400px;
    // background: rgb(54, 172, 79);
    margin: 0 auto;
    margin-top:160px ;
}
.imageBox{
    width:300px;
    height:300px;
    margin: 50px 20px;
    background:#b1ca8f ;
    float: left;
}
.imageBox img {
    width: 250px;
    height: 250px;
    margin: 20px 20px;
}
.rightBox{
    width:400px;
    height:350px;
    margin: 25px 20px;
    float: left;
    padding: 20px 20px;
}
.rightBox .ehg{
    font-size: 20px;
}
.rightBox .yi{
    font-size: 24px;
    margin-bottom: 20px;
}
dl{
    float: left;
    margin-left: 50px;
}
 dl dt{
    font-size:20px;
}
 dl dd{
    font-size: 20px;
}
.bincl{
    width: 350px;
    height: 80px;
    margin-top:140px;
    font-size: 14px;
}
.Cart{
    width: 120px;
    height: 30px;
    background: black;
    color: white;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top:10px;
    margin-left:120px;
}
/* footer */
.footer{
    width: 100%;
    height: 60px;
    background:white;
    text-align: center;
    line-height: 24px;
    padding: 10px 0;
    margin-top: 60px;
    overflow: hidden;
}
.footer a:hover{
    color:  #85b24b;
    text-decoration: none;
}